################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/**/node_modules
/**/dist
/ECMA5-CSS/**/bundle.*
/ECMA5-CSS-Combined/**/bundle.*
/ECMA5-CSS-LESS/**/bundle.*