# environment variables
environment:
  nodejs_version: "6"

# scripts that run after cloning repository
install:
  # install node 
  - ps: Install-Product node $Env:nodejs_version
  - npm install -g npm
  - npm install -g webpack  
  
# scripts to run before build
before_build:
  # install node modules
  - cd %APPVEYOR_BUILD_FOLDER%
  - cd TypeScript-Angular1-Adv
  - npm install
  # run webpack with production flag
  - webpack -p
  
artifacts:
  - path: TypeScript-Angular1-Adv
# Don't actually build.
build: off
